footer {
    margin-top: 10px;
}

.card-hotel {
    margin-top: 10px;
    flex: 1 200px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;   
}